In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import os
os.chdir(r'C:\Users\Chiranjit\Desktop\projects\incident\data\raw')

In [3]:
df = pd.read_csv('incident_event_log.csv')

In [4]:
df.head()

,number,incident_state,active,reassignment_count,reopen_count,sys_mod_count,made_sla,caller_id,opened_by,opened_at,...,u_priority_confirmation,notify,problem_id,rfc,vendor,caused_by,closed_code,resolved_by,resolved_at,closed_at
0,INC0000045,New,True,0,0,0,True,Caller 2403,Opened by 8,29/2/2016 01:16,...,False,Do Not Notify,?,?,?,?,code 5,Resolved by 149,29/2/2016 11:29,5/3/2016 12:00
1,INC0000045,Resolved,True,0,0,2,True,Caller 2403,Opened by 8,29/2/2016 01:16,...,False,Do Not Notify,?,?,?,?,code 5,Resolved by 149,29/2/2016 11:29,5/3/2016 12:00
2,INC0000045,Resolved,True,0,0,3,True,Caller 2403,Opened by 8,29/2/2016 01:16,...,False,Do Not Notify,?,?,?,?,code 5,Resolved by 149,29/2/2016 11:29,5/3/2016 12:00
3,INC0000045,Closed,False,0,0,4,True,Caller 2403,Opened by 8,29/2/2016 01:16,...,False,Do Not Notify,?,?,?,?,code 5,Resolved by 149,29/2/2016 11:29,5/3/2016 12:00
4,INC0000047,New,True,0,0,0,True,Caller 2403,Opened by 397,29/2/2016 04:40,...,False,Do Not Notify,?,?,?,?,code 5,Resolved by 81,1/3/2016 09:52,6/3/2016 10:00

In [5]:
df = df.loc[df['incident_state']=='New']
df = df.loc[df['sys_mod_count']==0]

In [6]:
df.shape

(16393, 36)

In [7]:
df.isnull().sum()

number                     0
incident_state             0
active                     0
reassignment_count         0
reopen_count               0
sys_mod_count              0
made_sla                   0
caller_id                  0
opened_by                  0
opened_at                  0
sys_created_by             0
sys_created_at             0
sys_updated_by             0
sys_updated_at             0
contact_type               0
location                   0
category                   0
subcategory                0
u_symptom                  0
cmdb_ci                    0
impact                     0
urgency                    0
priority                   0
assignment_group           0
assigned_to                0
knowledge                  0
u_priority_confirmation    0
notify                     0
problem_id                 0
rfc                        0
vendor                     0
caused_by                  0
closed_code                0
resolved_by                0
resolved_at                0
closed_at                  0
dtype: int64

In [8]:
df.head()

,number,incident_state,active,reassignment_count,reopen_count,sys_mod_count,made_sla,caller_id,opened_by,opened_at,...,u_priority_confirmation,notify,problem_id,rfc,vendor,caused_by,closed_code,resolved_by,resolved_at,closed_at
0,INC0000045,New,True,0,0,0,True,Caller 2403,Opened by 8,29/2/2016 01:16,...,False,Do Not Notify,?,?,?,?,code 5,Resolved by 149,29/2/2016 11:29,5/3/2016 12:00
4,INC0000047,New,True,0,0,0,True,Caller 2403,Opened by 397,29/2/2016 04:40,...,False,Do Not Notify,?,?,?,?,code 5,Resolved by 81,1/3/2016 09:52,6/3/2016 10:00
13,INC0000057,New,True,0,0,0,True,Caller 4416,Opened by 8,29/2/2016 06:10,...,False,Do Not Notify,?,?,?,?,code 10,Resolved by 5,1/3/2016 02:55,6/3/2016 03:00
20,INC0000060,New,True,0,0,0,True,Caller 4491,Opened by 180,29/2/2016 06:38,...,False,Do Not Notify,?,?,?,?,code 3,Resolved by 113,2/3/2016 12:06,7/3/2016 13:00
24,INC0000062,New,True,0,0,0,True,Caller 3765,Opened by 180,29/2/2016 06:58,...,False,Do Not Notify,?,?,?,?,code 7,Resolved by 62,29/2/2016 15:51,5/3/2016 16:00

In [9]:
df['problem_id'].value_counts(normalize=True)['?']

0.9904227414140182

In [10]:
df['rfc'].value_counts(normalize=True)['?']

0.9967059110595986

In [11]:
df['vendor'].value_counts(normalize=True)['?']

0.9992069785884219

In [12]:
df['caused_by'].value_counts(normalize=True)['?']

0.999877996705911

In [13]:
df = df.drop(['problem_id','rfc','vendor','caused_by'],axis=1)

In [14]:
# replace ? by Unkown
df=df.replace(['?'],np.nan)

In [15]:
df.shape

(16393, 32)

### Creating a Dependent variable

In [16]:
df['closed_at'] = pd.to_datetime(df['closed_at'])
df['opened_at'] = pd.to_datetime(df['opened_at'])

In [17]:
df['Days_to_close']=np.abs(np.array((df['closed_at']-df['opened_at']).dt.days))

In [18]:
##df['Days_to_close']=df['Days_to_close']/np.timedelta64(1,'D')

In [19]:
cols=['caller_id']
df=df.apply(lambda col:col.str.replace('Caller ','') if col.name in cols else col)

In [20]:
cols=['sys_updated_by']
df=df.apply(lambda col:col.str.replace('Updated by ','') if col.name in cols else col)

In [21]:
cols=['location']
df=df.apply(lambda col:col.str.replace('Location ','') if col.name in cols else col)

In [22]:
cols=['category']
df=df.apply(lambda col:col.str.replace('Category ','') if col.name in cols else col)

In [23]:
cols=['subcategory']
df=df.apply(lambda col:col.str.replace('Subcategory ','') if col.name in cols else col)

In [24]:
cols=['opened_by']
df=df.apply(lambda col:col.str.replace('Opened by ','') if col.name in cols else col)

In [25]:
cols=['sys_created_by']
df=df.apply(lambda col:col.str.replace('Created by ','') if col.name in cols else col)

In [26]:
cols=['assignment_group']
df=df.apply(lambda col:col.str.replace('Group ','') if col.name in cols else col)

In [27]:
cols=['u_symptom']
df=df.apply(lambda col:col.str.replace('Symptom ','') if col.name in cols else col)

In [28]:
df.head()

,number,incident_state,active,reassignment_count,reopen_count,sys_mod_count,made_sla,caller_id,opened_by,opened_at,...,assignment_group,assigned_to,knowledge,u_priority_confirmation,notify,closed_code,resolved_by,resolved_at,closed_at,Days_to_close
0,INC0000045,New,True,0,0,0,True,2403,8,2016-02-29 01:16:00,...,56,NaN,True,False,Do Not Notify,code 5,Resolved by 149,29/2/2016 11:29,2016-05-03 12:00:00,64
4,INC0000047,New,True,0,0,0,True,2403,397,2016-02-29 04:40:00,...,70,Resolver 89,True,False,Do Not Notify,code 5,Resolved by 81,1/3/2016 09:52,2016-06-03 10:00:00,95
13,INC0000057,New,True,0,0,0,True,4416,8,2016-02-29 06:10:00,...,70,NaN,True,False,Do Not Notify,code 10,Resolved by 5,1/3/2016 02:55,2016-06-03 03:00:00,94
20,INC0000060,New,True,0,0,0,True,4491,180,2016-02-29 06:38:00,...,25,Resolver 125,True,False,Do Not Notify,code 3,Resolved by 113,2/3/2016 12:06,2016-07-03 13:00:00,125
24,INC0000062,New,True,0,0,0,True,3765,180,2016-02-29 06:58:00,...,70,NaN,True,False,Do Not Notify,code 7,Resolved by 62,29/2/2016 15:51,2016-05-03 16:00:00,64

In [29]:
df.fillna(0,inplace=True)

In [30]:
##remove additional columns
df = df.drop(['number','resolved_by','resolved_at','closed_at','closed_code','sys_updated_by', 'sys_updated_at','opened_at','cmdb_ci','assigned_to','sys_created_at','u_priority_confirmation','reopen_count','reassignment_count','sys_mod_count','incident_state','active','made_sla'],axis=1)

In [31]:
df.shape

(16393, 15)

In [32]:
df.head()

,caller_id,opened_by,sys_created_by,contact_type,location,category,subcategory,u_symptom,impact,urgency,priority,assignment_group,knowledge,notify,Days_to_close
0,2403,8,6,Phone,143,55,170,72,2 - Medium,2 - Medium,3 - Moderate,56,True,Do Not Notify,64
4,2403,397,171,Phone,165,40,215,471,2 - Medium,2 - Medium,3 - Moderate,70,True,Do Not Notify,95
13,4416,8,0,Phone,204,20,125,471,2 - Medium,2 - Medium,3 - Moderate,70,True,Do Not Notify,94
20,4491,180,81,Phone,204,9,97,450,2 - Medium,2 - Medium,3 - Moderate,25,True,Do Not Notify,125
24,3765,180,81,Phone,93,53,168,232,2 - Medium,2 - Medium,3 - Moderate,70,True,Do Not Notify,64

In [33]:
df.caller_id.dtype

dtype('O')

In [34]:
df.shape

(16393, 15)

In [35]:
df=df.replace({'impact':{'2 - Medium':2, '1 - High':1, '3 - Low':3},
               'urgency':{ '2 - Medium':2, '3 - Low':3, '1 - High':1},
               'priority':{ '3 - Moderate':3, '2 - High':2, '4 - Low':4, '1 - Critical':1}
    
})

In [36]:
df=df.replace(['Phone', 'Email', 'Self service', 'Direct opening', 'IVR'],[1,2,3,4,5])

In [37]:
df.head()

,caller_id,opened_by,sys_created_by,contact_type,location,category,subcategory,u_symptom,impact,urgency,priority,assignment_group,knowledge,notify,Days_to_close
0,2403,8,6,1,143,55,170,72,2,2,3,56,True,Do Not Notify,64
4,2403,397,171,1,165,40,215,471,2,2,3,70,True,Do Not Notify,95
13,4416,8,0,1,204,20,125,471,2,2,3,70,True,Do Not Notify,94
20,4491,180,81,1,204,9,97,450,2,2,3,25,True,Do Not Notify,125
24,3765,180,81,1,93,53,168,232,2,2,3,70,True,Do Not Notify,64

In [38]:
df.shape

(16393, 15)

In [39]:
df.replace([True,False],[1,0],inplace=True)
df.replace(['New'],[1],inplace=True)
df.replace(['Do Not Notify','Send Email'],[1,0],inplace=True)
df.head()

,caller_id,opened_by,sys_created_by,contact_type,location,category,subcategory,u_symptom,impact,urgency,priority,assignment_group,knowledge,notify,Days_to_close
0,2403,8,6,1,143,55,170,72,2,2,3,56,1,1,64
4,2403,397,171,1,165,40,215,471,2,2,3,70,1,1,95
13,4416,8,0,1,204,20,125,471,2,2,3,70,1,1,94
20,4491,180,81,1,204,9,97,450,2,2,3,25,1,1,125
24,3765,180,81,1,93,53,168,232,2,2,3,70,1,1,64

In [40]:
cols = ['caller_id','opened_by','sys_created_by','location','category','subcategory','u_symptom','assignment_group']
df[cols]=df[cols].apply(pd.to_numeric, errors='coerce')

In [41]:
from scipy import stats as stat
stat.mode(df.caller_id)

ModeResult(mode=array([4514], dtype=int64), count=array([127]))

In [42]:
df.describe()

,caller_id,opened_by,sys_created_by,contact_type,location,category,subcategory,u_symptom,impact,urgency,priority,assignment_group,knowledge,notify,Days_to_close
count,16393.000000,16393.000000,16393.000000,16393.000000,16393.000000,16393.000000,16393.000000,16393.000000,16393.000000,16393.000000,16393.000000,16393.000000,16393.000000,16393.000000,16393.000000
mean,2784.080095,134.756481,40.223815,1.021839,138.137010,37.182700,160.077106,308.805039,2.010614,2.002684,2.992558,50.362838,0.150552,0.997804,82.108278
std,1638.068701,159.923560,62.180513,0.212497,56.350393,14.006752,69.437877,224.236258,0.191025,0.198192,0.264304,24.373842,0.357623,0.046812,77.985566
min,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,1334.000000,17.000000,0.000000,1.000000,93.000000,26.000000,130.000000,6.000000,2.000000,2.000000,3.000000,25.000000,0.000000,1.000000,9.000000
50%,2780.000000,55.000000,10.000000,1.000000,143.000000,40.000000,174.000000,473.000000,2.000000,2.000000,3.000000,67.000000,0.000000,1.000000,53.000000
75%,4185.000000,237.000000,52.000000,1.000000,204.000000,46.000000,197.000000,491.000000,2.000000,2.000000,3.000000,70.000000,0.000000,1.000000,153.000000
max,5642.000000,538.000000,233.000000,5.000000,249.000000,63.000000,305.000000,609.000000,3.000000,3.000000,4.000000,82.000000,1.000000,1.000000,603.000000

In [43]:
df['caller_id']=df['caller_id'].fillna(4514)

In [44]:
df.describe()

,caller_id,opened_by,sys_created_by,contact_type,location,category,subcategory,u_symptom,impact,urgency,priority,assignment_group,knowledge,notify,Days_to_close
count,16393.000000,16393.000000,16393.000000,16393.000000,16393.000000,16393.000000,16393.000000,16393.000000,16393.000000,16393.000000,16393.000000,16393.000000,16393.000000,16393.000000,16393.000000
mean,2784.080095,134.756481,40.223815,1.021839,138.137010,37.182700,160.077106,308.805039,2.010614,2.002684,2.992558,50.362838,0.150552,0.997804,82.108278
std,1638.068701,159.923560,62.180513,0.212497,56.350393,14.006752,69.437877,224.236258,0.191025,0.198192,0.264304,24.373842,0.357623,0.046812,77.985566
min,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,1334.000000,17.000000,0.000000,1.000000,93.000000,26.000000,130.000000,6.000000,2.000000,2.000000,3.000000,25.000000,0.000000,1.000000,9.000000
50%,2780.000000,55.000000,10.000000,1.000000,143.000000,40.000000,174.000000,473.000000,2.000000,2.000000,3.000000,67.000000,0.000000,1.000000,53.000000
75%,4185.000000,237.000000,52.000000,1.000000,204.000000,46.000000,197.000000,491.000000,2.000000,2.000000,3.000000,70.000000,0.000000,1.000000,153.000000
max,5642.000000,538.000000,233.000000,5.000000,249.000000,63.000000,305.000000,609.000000,3.000000,3.000000,4.000000,82.000000,1.000000,1.000000,603.000000

In [45]:
df.to_csv('features.csv')

In [46]:
df.shape

(16393, 15)

In [47]:
df.drop(['u_symptom','assignment_group','category','caller_id','sys_created_by','contact_type','urgency','location'],axis=1,inplace=True)

In [48]:
df.columns

Index(['opened_by', 'subcategory', 'impact', 'priority', 'knowledge', 'notify',
       'Days_to_close'],
      dtype='object')

In [49]:
y=df['Days_to_close']
x=df.drop('Days_to_close',axis = 1)

In [50]:
#from statsmodels.stats.outliers_influence import variance_inflation_factor
# VIF dataframe
#vif_data = pd.DataFrame()
#vif_data["feature"] = x.columns# calculating VIF for each feature
#vif_data["VIF"] = [variance_inflation_factor(x.values, i)
#for i in range(len(x.columns))]
#print(vif_data)

In [51]:
# get the locations
x = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [52]:
#convert dataframes to numpay array
##x=x.to_numpy()
##y=y.to_numpy()

In [53]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=42)

In [54]:
##from sklearn.ensemble import ExtraTreesClassifier
##feature=ExtraTreesClassifier()

In [55]:
# Types of colors
#color_types = ['#78C850','#F08030','#6890F0','#A8B820','#A8A878','#A040A0','#F8D030',
#'#E0C068','#EE99AC','#C03028','#F85888','#B8A038','#705898','#98D8D8','#7038F8']




## plot graph of feature importance for better visualization
#feat_imp=pd.Series(feature.feature_importances_,index=X.columns)
#feat_imp.nlargest(18).plot(kind='barh',color=color_types)
#plt.show()

In [56]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn import metrics

In [57]:
rf = RandomForestRegressor()

In [58]:
rf_reg_model=rf.fit(X_train,y_train)
y_pred=rf_reg_model.predict(X_test)
print(metrics.mean_absolute_error(y_pred,y_test))

64.62478519890838

In [59]:
from sklearn.neighbors import KNeighborsRegressor
model_knn = KNeighborsRegressor()
knn_reg_model=model_knn.fit(X_train,y_train)
y_pred_knn=knn_reg_model.predict(X_test)
print(metrics.mean_absolute_error(y_pred_knn,y_test))

67.34266544678256

In [60]:
from xgboost import XGBRegressor
regressor = XGBRegressor(random_state=42)
model = regressor.fit(X_train, y_train)
y_pred = model.predict(X_test)

print(metrics.mean_absolute_error(y_pred,y_test))

C:\Users\Chiranjit\anaconda3\envs\incident\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index
C:\Users\Chiranjit\anaconda3\envs\incident\lib\site-packages\xgboost\data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

64.3101212491928

In [61]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr_model=lr.fit(X_train,y_train)
y_pred=lr_model.predict(X_test)
print(metrics.mean_absolute_error(y_pred,y_test))

67.27502127001159

In [62]:
## laso regression

In [63]:
from sklearn.linear_model import Lasso

In [64]:
model1 = Lasso()
##Fitting the model
model1.fit(X_train,y_train)
y_pred1 = model.predict(X_test)

C:\Users\Chiranjit\anaconda3\envs\incident\lib\site-packages\xgboost\data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

In [65]:
print(metrics.mean_absolute_error(y_pred1,y_test))

64.3101212491928

In [66]:
print(metrics.r2_score(y_test,y_pred))

0.023895601943459188

In [67]:
from sklearn.linear_model import Ridge
from sklearn.linear_model import RidgeCV
from sklearn.model_selection import RepeatedKFold

In [68]:

from numpy import *
#define cross-validation method to evaluate model
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)

#define model
model1 = RidgeCV(alphas= arange(100,10000,10), cv=cv, scoring='neg_mean_absolute_error')

In [69]:
model1.fit(X_train, y_train)

RidgeCV(alphas=array([ 100,  110,  120,  130,  140,  150,  160,  170,  180,  190,  200,
        210,  220,  230,  240,  250,  260,  270,  280,  290,  300,  310,
        320,  330,  340,  350,  360,  370,  380,  390,  400,  410,  420,
        430,  440,  450,  460,  470,  480,  490,  500,  510,  520,  530,
        540,  550,  560,  570,  580,  590,  600,  610,  620,  630,  640,
        650,  660,  670,  680,  690,  700,  710,  720,  730,  740,  750,
        760,  770,  780,  790,  800,  810,  820,  830,  840,  850,  860,
        870,  880,  890,  900,  910,...
       9450, 9460, 9470, 9480, 9490, 9500, 9510, 9520, 9530, 9540, 9550,
       9560, 9570, 9580, 9590, 9600, 9610, 9620, 9630, 9640, 9650, 9660,
       9670, 9680, 9690, 9700, 9710, 9720, 9730, 9740, 9750, 9760, 9770,
       9780, 9790, 9800, 9810, 9820, 9830, 9840, 9850, 9860, 9870, 9880,
       9890, 9900, 9910, 9920, 9930, 9940, 9950, 9960, 9970, 9980, 9990]),
        cv=RepeatedKFold(n_repeats=3, n_splits=10, random_state=1),
        scoring='neg_mean_absolute_error')

In [70]:
#display lambda that produced the lowest test MAE
print(model1.alpha_)

100

In [71]:
y_ridge = model1.predict(X_test)

In [72]:
print(metrics.mean_absolute_error(y_ridge,y_test))

67.33023265699393